<!DOCTYPE html>

<html>
<head>
    {% include "header.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "header2.html" %}
  
  {% include "leftnavbar.html" %}

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content container-fluid">
  
        <!--------------------------
          | Your Page Content Here |
          -------------------------->
          <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-cloud "></i>
            </div>
            <a href="buatbaru" class="small-box-footer">New Project <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
  
      </section>
      <!-- /.content -->
      
    </div>
    <!-- /.content-wrapper -->

  {% include "footer.html" %}
  {% include "sidebar.html" %}
  <div class="control-sidebar-bg"></div>
</div>

{% include "javascript.html" %}
</body>
</html>