<!DOCTYPE html>

<html>
<head>
    {% include "header.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "header2.html" %}
  
  {% include "leftnavbar.html" %}

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content container-fluid">
  
        <!--------------------------
          | Your Page Content Here |
          -------------------------->
          <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>0</h3>

              <p>Project</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-cloud "></i>
            </div>
            <a href="buatbaru" class="small-box-footer">Create New Project <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>0</h3>

              <p>Project</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-cloud "></i>
            </div>
            <a href="buatbaru" class="small-box-footer">History Backup<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>0</h3>

              <p>Project</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-cloud "></i>
            </div>
            <a href="buatbaru" class="small-box-footer">setting system <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Adaptive Thresload graph Server</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="chart-container" style="position: relative; height:50vh; width:75vw; margin: 0 auto;">
                  <canvas id="myChart" width="900" height="250"></canvas>
                </div>          
              </div>
            
              <!-- /.box-body -->
            
            
              <!-- /.box-footer -->
            </div>
            <!-- /.box-body -->
          </div>
      </section>
      
      <!-- /.content -->
      
    </div>
    <!-- /.content-wrapper -->

  {% include "footer.html" %}
  {% include "sidebar.html" %}
  <div class="control-sidebar-bg"></div>
</div>

{% include "javascript.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
  const rand = () =>
  Array.from({ length: 10 }, () => Math.floor(Math.random() * 100));

let data = rand();

function addData(chart, data) {
  chart.data.datasets.forEach(dataset => {
    let data = dataset.data;
    const first = data.shift();
    data.push(first);
    dataset.data = data;
  });

  chart.update();
}

var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
  type: "line",
  data: {
    labels: ["00:00 AM", "01:00 AM", "02:00 AM", "03:00 AM", "04:00 AM", "05:00 AM", "06:00 AM", "07:00 AM", "01:00 AM", "09:00 AM"],
    datasets: [
      {
        label: "Current month",
        data: rand(),
        backgroundColor: ["rgba(113, 88, 203, .15)"],
        borderColor: ["rgba(113, 88, 203, 1)"],
        borderWidth: 1,
        fill: "start"
      },
      {
        label: "Last month",
        data: rand(),
        backgroundColor: ["rgba(161, 201, 249, .15)"],
        borderColor: ["rgba(161, 201, 249, 1)"],
        borderWidth: 1,
        fill: "start"
      }
    ]
  },
  options: {
    animation: {
      duration: 250
    },
    tooltips: {
      intersect: false,
      backgroundColor: "rgba(113, 88, 203, 1)",
      titleFontSize: 16,
      titleFontStyle: "400",
      titleSpacing: 4,
      titleMarginBottom: 8,
      bodyFontSize:	12,
      bodyFontStyle:	'400',
      bodySpacing: 4,
      xPadding: 8,
      yPadding: 8,
      cornerRadius: 4,
      displayColors: false,
      callbacks: {
        title: function (t, d) {
          const o = d.datasets.map((ds) => ds.data[t[0].index] + "%")
          
          return o.join(', ');
        },
        label: function (t, d) {
          return d.labels[t.index];
        }
      }
    },
    title: {
      text: "Threshold Adaptive",
      display: true
    },
    maintainAspectRatio: true,
    spanGaps: false,
    elements: {
      line: {
        tension: 0.3
      }
    },
    plugins: {
      filler: {
        propagate: false
      }
    },
    scales: {
      xAxes: [
        {
          ticks: {
            autoSkip: false,
            maxRotation: 0
          }
        }
      ]
    }
  }
});

setInterval(() => addData(myChart), 5000);

  </script>
</body>
</html>