<!DOCTYPE html>

<html>
<head>
    {% include "header.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "header2.html" %}
  
  {% include "leftnavbar.html" %}

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          USER TEST
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="profil"><i class="fa fa-dashboard"></i>Profil</a></li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content container-fluid">
  
        <!--------------------------
          | Your Page Content Here |
          -------------------------->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">EDIT PROFIL</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Nama Lengkap</label>
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="namaproject" placeholder="example : udayana">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Email</label>
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="namaproject" placeholder="example : udayana@unud.ac.id">
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="input" class="col-sm-2 control-label" style="margin-right: 15px">Password Baru</label>
                    <div class="col-sm-6" style="padding-right: 30px; padding-left: 0px;">
                      <input type="password" class="form-control" placeholder="Enter ...">

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="input" class="col-sm-2 control-label" style="margin-right: 15px">Konfirnmasi Password Baru</label>
                    <div class="col-sm-6" style="padding-right: 30px; padding-left: 0px;">
                      <input type="password" class="form-control" placeholder="Enter ...">

                    </div>
                  </div>                  
                </div>
              </form>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button onclick="cancel()" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal-default">Simpan</button>
                  
                </div>
              
                <!-- /.box-footer -->
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Konfirmasi</h4>
          </div>
          <div class="modal-body">
            <p>Apakah anda ingin menyimpan perubahan&hellip; ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Tidak</button>
            <button type="button" class="btn btn-primary">Simpan</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  {% include "footer.html" %}
  {% include "sidebar.html" %}
  <div class="control-sidebar-bg"></div>
</div>

{% include "javascript.html" %}
<script>
  function cancel() {
      // document.getElementById;
      window.history.back();
  }
</script>

</body>
</html>